<table width="100%" class="lyricTable" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="blockTitle"><{$artist}></td>
  </tr>
  <tr>
    <td class="blockContent"><a href="index.php"><{$lang_main}></a> »» <a href="index.php?id_art=<{$id_art}>"><{$artist}></a> »» <a href="index.php?id_art=<{$id_art}>&art_alb=<{$art_alb}>"><{$album}></a></td>
  </tr>
  <tr>
    <td class="blockTitleSub"><{$title}></td>
  </tr>
</table>

  <table width="95%"  class="lyricTable" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <th colspan="3" valign="middle">&nbsp;</th>
    </tr>
    <tr>
    <td width="30%" align="center" valign="top" class="blockContent"><div align="center"><{$image}></div></td>
    <td width="50">&nbsp;</td>
    <td width="64%" align="left" valign="top" class="blockContent"><p><{$text}></p>
	</td>
  </tr>
    
  </table>



