<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td class="blockTitle"><{$artist}></td>
  </tr>
  <tr>
    <td class="blockContent"><a href="index.php"><{$lang_main}></a> »» <{$artist}></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="blockContent">
    	<b><{$lang_dob}>:</b> <{$date_of_birth}><br />
		<b><{$lang_pob}>:</b> <{$place_of_birth}><br />
		<b><{$lang_ethnic}>:</b> <{$ethnic}><br />
		<b><{$lang_genre}>:</b> <{$genre}><br />
		<b><{$lang_sim_artist}>:</b> <{$similar}>
    </td>
  </tr>
  <tr>
    <td align="center" class="blockContent"><p>&nbsp;<{$gallery}>&nbsp;<{$movies}>&nbsp;<{$albums}>&nbsp;<{$url}>&nbsp;</p></td>
  </tr>
  <tr>
    <td align="left" valign="top" class="blockContent">
    	<p><{$image_art}></p><br />
    	<strong><{$descDropcap}> <{$lang_bio}>: </strong><br />
    	<{$bio}>
    </td>
  </tr>
</table>
<p>&nbsp;</p>

